/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-jun-2016, 18:25:51
    Author     : samuel
*/

@import "dependencies";
// Slideshow Particle
@import "slideshow";

//Override de propiedades de gantry

#g-navigation .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
    background: none;
}

//Estilos de la maqueta

/*
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
ul, ol {
	list-style:none;
	}
 Home Page Carousel 

header.carousel {
    height: 500px;
}
h1, h2 {
	text-transform:uppercase;
	font-size:31px;
	font-weight:500;
}
.lead {
	color:#1d1d1d;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
a {
	color:#be1622;
	outline: 0;
}
a:hover, a:focus, a:active {
	text-decoration:none;
	color:#3C3C3B;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#banner-home {
	 width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
#banner-actividad{
	 width: 150px;
    height: 150px;
	overflow:hidden;
}
#banner-actividad-last {
	 background-color: #f5f4f4;
    height: 150px;
    overflow: hidden;
    padding-top: 40px;
    text-align: center;
    width: 150px;
}
@media (max-width: 1199px) {
	#banner-actividad{
	 width: 110px;
    height: 110px;
	
}
#banner-actividad-last {
    height: 110px;
    width: 110px;
}
}
@media (max-width: 993px) {
	#banner-actividad{
	 width: 100px;
    height: 100px;
	
}
#banner-actividad-last {
    height: 100px;
    width: 100px;
}
}
@media (max-width: 763px) {
	#banner-actividad{
	 width: 70px;
    height: 70px;
	
}
#banner-actividad-last {
    height: 70px;
    width: 70px;
}
}
@media (max-width: 434px) {
	#banner-actividad{
	 width: 50px;
    height: 50px;
	
	
	
}
#banner-actividad-last {
    height: 50px;
    width: 50px;
}
}
 404 Page Styles 

.error-404 {
    font-size: 100px;
}

 Footer Styles 

footer {
    margin: 50px 0 0 0;
	background-color:#e9e9e9;
	
	color:#575756
}
*/
.prefooter a {
	color:#575756;
}
.prefooter a:hover, .prefooter a:focus, .prefooter a:active {
	color:#1d1d1d;
}
.prefooter ul {
        margin-left: 0!important;
	list-style:none;
	padding-left:0px;
	margin-bottom:10px!important;
	margin-top:0px!important;        
}
.prefooter ul li {
	margin-bottom:5px!important;
	margin-top:5px!important;
}
.prefooter h4 {
        margin: 10px 0px 10px 0px!important;
	text-transform:uppercase;
	font-weight:bold;
	color:#1d1d1b;
}
/*
.bottom-bar {
	background-color:#1d1d1d;
	padding-top:5px;
	padding-bottom:5px;
	
}
.bottom-bar a { 
	color:#fff;
}
.bottom-bar a:hover, .bottom-bar a:active, .bottom-bar a:focus {
	color:#ccc;
}
.rrss {
	padding-top:5px;
}
.rrss a {
	margin-left:10px;
}
@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
.navbar-brand {
	padding:10px;
	background-color:#3c3c3b;
	min-height:65px;
}
.navbar-brand:hover {
	
	background-color:#3c3c3b !important;

}
*/
.g-menu-item-title{
	color:#fff;
	text-transform:uppercase;
	height:65px;
	font-weight:bold;
	font-size:13px;
}
.g-menu-item-title:hover, .g-menu-item-title:focus, .g-menu-item-title:active {
	color:#be1622;
}
.pointer {
	cursor:pointer;
}

.btn{
    //display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
	background-color:#be1622!important;
	border-bottom:2px solid #7f1623;
	color:#fff!important;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	text-transform:inherit !important;
	font-weight:700;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color:#878787 !important;
	border-bottom:2px solid #333;
	color:#fff !important;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}
/*
.btn-black {
	background-color:#3c3c3b;
	border-bottom:2px solid #000;
	color:#fff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	text-transform:inherit !important;
	font-weight:700;
}
.btn-black:hover, .btn-black:active, .btn-black:focus {
	background-color:#999 !important;
	border-bottom:2px solid #3c3c3b;
	color:#fff !important;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}
.btn-grey {
	background-color:#3c3c3b;
	border-bottom:2px solid #000;
	color:#fff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	text-transform:inherit !important;
	font-weight:700;
}
.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
	background-color:#999 !important;
	border-bottom:2px solid #3c3c3b;
	color:#fff !important;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}
.btn-facebook {
	background-color:#3b5998;
	border-bottom:2px solid #3b5998;
	color:#fff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	text-transform:inherit !important;
	font-weight:700;
}
.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {
	background-color:#334D83;
	border-bottom:2px solid #334D83;
	color:#fff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	text-transform:inherit !important;
	font-weight:700;
}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
	background-color:#878787 !important;
	border-bottom:2px solid #333;
	color:#fff !important;
}
*/
.btn-top {
	height: 35px !important;
    padding: 7px 15px !important;
	margin-top:15px;
}

.t-t-n {
	text-transform:none !important;
        color:white!important;
}

input[type="text"].search-input-top {
	background-color:transparent;
	border-radius:0px;
	border-bottom:2px solid #fff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	color:#fff;
	height:35px;
	margin-top:10px;
	left:40px;
	position:relative;
}

.search-input-top:hover, .search-input-top:active, .search-input-top:focus  {
	border-color:#be1622;
}
.search-btn-top {
	background-color:transparent;
	border-radius:0px;
	border-top:0;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	color:#fff;
	position:relative;
	
}
.search-btn-top:hover, .search-btn-top:active, .search-btn-top:focus  {
	color:#be1622;
}
/*
.gap-5 {
	height:5px;
	width:100%;
}
.gap-10 {
	height:10px;
	width:100%;
}
*/
.gap-20 {
	height:20px;
	width:100%;
}
/*
.gap-30 {
	height:30px;
	width:100%;
}
.gap-40 {
	height:40px;
	width:100%;
}
.gap-50 {
	height:50px;
	width:100%;
}
.deco-ball-bk {
	background-image:url('../img/deco-ball-bk.png');
	height:6px;
	width:100%;
	background-repeat:no-repeat;
}
.deco-ball-w {
	background-image:url('../img/deco-ball-w.png');
	height:6px;
	width:100%;
	background-repeat:no-repeat;
}
.carousel-caption {
	left:15%;
	top:15%;
	right:auto;
	color:#000;
	text-align:left;
}
.carousel-caption h1 {
	text-transform:uppercase;
}
.patro {
	background-color:#3c3c3b;
	padding-top:20px;
	padding-bottom:20px;
}
.patro img {
	width:150px !important;
}
.carousel-control {
  padding-top:10%;
  width:5%;
}
.banner-home-text {
	margin-top:200px;
}
*/
@media (min-width: 1200px) {
    div .std-box-load-more {
        width:22%;
    }
}

@media (max-width:1200px) and (min-width:960px) {
    div .std-box-load-more {
        width:30%;
    }
}
@media (max-width: 960px) and (min-width:768px) {
    div .std-box-load-more {
        width:45%;
    }
}
@media (max-width: 768px) and (min-width:480px){
    div .std-box-load-more {
        width:100%;
    }
}
@media (max-width: 480px) {
    div .std-box-load-more {
        width:100%;
    }
}

.std-box-load-more {
	background-color:#fff;
        display:inline-block;
        margin:0.938rem;
}

.std-box {
	background-color:#fff;
}
/*
.pad-l-0 {
	padding-left:0px;
}
.pad-r-0 {
	padding-right:0px;
}
.content-detalle {
	padding:0 30px;
}
*/.img-box {
	width:100%;
	height:200px;
	/*background-image:url('../img/box-img.jpg');*/
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.autor-img-box{
	background-image:url('../img/user.jpg');
	width:100px;
	height:100px;
	display:block;
	border-radius:50%;
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: -50px auto 0;

}
.autor-img-box a, .autor-img-box-header a {
	width:100%;
	height:100%;
	display:block;
}
/*
.autor-img-box-sidebar {
	background-image:url('../img/user.jpg');
	width:100px;
	height:100px;
	display:block;
	border-radius:50%;
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;

}
.autor-img-box-header{
	background-image:url('../img/user.jpg');
	width:40px;
	height:40px;
	display:block;
	border-radius:50%;
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:10px;

}
*/
.content-box {
	padding:0 20px;
        text-align: center;
}
.conten-box small {
	color:#575756;
}

.read-more {
	color:#c7c6c6;
}
.bottom-box {
	min-height:5px;
	background-color:#1d1d1d;
	color:#fff;
	padding:5px;
}
.bottom-box p {
        margin: 0!important;
}
/*
.c-w {
	color:#fff;
}
.c-h3 {
	color:#706f6f;
}
.c-g {
	color:#9d9d9d;
}
.c-2g {
	color:#878787;
	}
.c-b {
	color:#1d1d1d;
}
.bk-lg {
	background-color:#F7F7F7;
}
.bk-w {
		background-color:#fff;

}
.call-to-action {
	background-color:#3c3c3b;
	padding-top:40px;
	padding-bottom:40px;
}
.call-to-action .read-more:hover, .call-to-action .read-more:focus, .call-to-action .read-more:active {
	color:#be1622;
}
.btn-group-lg > .btn, .btn-lg {
	padding:8px 16px;
	font-size:16px;
}
.dropdown-menu-arrow:before {
  position: absolute;
  top: -10px;
  left: 40%;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu-arrow:after {
  position: absolute;
  top: -9px;
  left: 40%;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}
.img-user-menu {
	height:65px;
	
}
.dropdown-menu {
	border-radius:0px;
}
.dropdown-menu > li {
	margin:5px 0;
}
.dropdown-menu > li > a {
	font-weight:700;
	font-size:15px;
	
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, .dropdown-menu > li > a:focus  {
	font-weight:700;
	color:#be1622;
	background-color:transparent;
}
.position-dropdown-header {
	left:-55px;
	top:65px;
}
.modal-dialog {
	width:660px;
}
.modal-body {
	padding:0px;
}
.content-modal-body, .modal-header {
	padding:20px;
}
select.form-control {
    -moz-appearance: none;
    background-image: url('../img/arrow-d.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    line-height: 1.375;
    padding-right: 30px;
    text-overflow: "";
}
.bar-menu {
	background-color:#dadada;
	margin-top:15px;
	padding-top:10px;
	padding-bottom:10px;
}
.banner-detalle {
	overflow:hidden;
	max-height:400px;
}
.banner-detalle img {
	width:100%;
}
.block-sidebar {
	}
.block-sidebar h4 {
	border-top:4px solid #878787;
	border-bottom:4px solid #878787;
	color:#878787;
	padding:10px;
	margin-top:0px;
	text-transform:uppercase;
	font-weight:bold;
}
.ciudad {
	text-transform:uppercase;
}
.prof {
	padding:7px;
	background-color:#3c3c3b;
	color:#fff;
}
.chs-old {
	color:#878787;
}
.actividad {
		color:#878787;

}
.price-sidebar {
	font-size:16px;
	font-weight:700;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #dadada;
  border-radius: 3px 0 0 3px;
  color: #1d1d1b;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 15px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size:12px;
}

.tag::before {
  background: #F5F4F4;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 5px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #F5F4F4;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #dadada;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #be1622;
  color: white;
}

.tag:hover::after {
   border-left-color: #be1622; 
}
.list-faq ul {
	list-style:none;
	padding-left:0;
}
.list-faq h5 {
	cursor:pointer;
	color:#878787;
	margin-bottom:15px;
}
.list-faq p {
	color:#999;
}
.related h3 {
	color:#706f6f;
}
.comment-block {
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}
.comment-send {
	background-color:#e2e1e1;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}
.activ-block {
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 2px solid #ccc;
}
activ-block-actividad {
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 0;
}
.filtros select.form-control {
	background-color:transparent;
	border:0px;
	box-shadow:none;
	color:inherit;
	padding-left:0;
}
select option {
	background-color:#fff;
	padding:10px
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	
	color:inherit;
	font-weight:700;
	background-color:transparent;
	border:0px;
	border-bottom:4px solid #1d1d1d;
}
.nav-tabs > li > a {
	color:#1d1d1d;
	border-radius:0px;
	padding-left:0px;
	padding-right:5px;
	margin-right:25px;
	padding-bottom:7px;
	outline:0;
}
.nav-tabs {
	border:0px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
	outline:none !important;
	background-color:transparent;
	color:#878787;
	box-shadow:none;
	border:0px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color:transparent;
	border:0px;
}
.del-uppercase {
	text-transform:none;
	font-size:24px;
}
h5 span {
	font-weight:normal;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.m-l-r-0 {
	margin-left:0px;
	margin-right:0px;
	}
	.tipo-plato img {
		margin:0 auto;
	}
.plato {
	background-image:url('http://chef.redelit.com/img/tipo-plato.png');
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
}
.entrante {
	background-position:0 -2px;
	height:35px;
	width:30px;
}
.primero {
	background-position: -36px -2px;
    height: 35px;
    width: 50px;
}
.segundo {
	background-position: -94px -2px;
    height: 35px;
    width: 50px;
}
.postre {
	background-position: -148px -2px;
    height: 35px;
    width: 30px;
}
.bebida {
	background-position: -178px -2px;
    height: 35px;
    width: 30px;
}
.alergenos {
}
.alergeno {
		background-image:url('http://chef.redelit.com/img/alergenos.png');
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	width:30px;
	height:30px;
}
.cereal {
		background-position:0 0px;
} 
.crust {
		background-position:-32px 0px;
}
.egg {
		background-position:-64px 0px;
}
.fish { 
		background-position:-96px 0px;
}
.peanut {
		background-position:-128px 0px;
}
.milk {
		background-position:-160px 0px;
}
.nut {
		background-position:-192px 0px;
}
.celery {
			background-position:0 -32px;
}
.mustard {
			background-position:-32px -32px;
}
.lupin {
			background-position:-64px -34px;
}
.mollusc {
			background-position:-96px -34px;
}
.sesame {
			background-position:-128px -34px;
}
.sulphur {
			background-position:-160px -34px;
}
.soya {
			background-position:-192px -34px;
}
.precio-receta {
	background-image:url('http://chef.redelit.com/img/euro.png');
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	background-size:60px;
	position:relative;
	top:10px;
}
.precio-plato {
		background-position:0;
	height:30px;
	width:30px;
}
.precio-total {
		background-position:-30px;
	height:30px;
	width:30px;
}
.m-b-0 {
	margin-bottom:0px;
}
.m-t-0 {
	margin-top:0px;
}
.price {
	font-size:14px;
	color:#999;
}
.partner {
	color:#999;
}
.codigo {
	font-size:14px;
	font-weight:700;
}
.patrocinado {
	margin-top:10px;
}
.price-taller-detail {
	font-size:20px;
}
.price-taller-detail div.std{
	display:inline-block;
	width:75px;
	float:left;
	line-height:18px;
}
.price-taller-detail div.part{
	display:inline-block;
	width:120px;
	float:left;
	line-height:18px;
}
.standard {
	font-weight:700;
	color:#1d1d1d;
}
.standard-text {
	color:#1d1d1d;
	font-size:13px;
}
.partner-text {
	font-size:13px;
}
.price-taller-detail .partner {
	font-weight:700;
}
.w-100 {
	width:100%;
}
.clear {
	clear:both;
}
.rating-container .caption, .rating-container .clear-rating {
	display:none !important;
}
.rating-container .filled-stars {
	color:#be1622 !important;
}
.rating-xs {
	font-size:1.5em !important;
}
.section-taller {
	background-color:#EDEDED;
}
.contenido-taller {
	background-color:#EDEDED;
	color:#575756;
	margin:20px;
	padding:20px;
}
.number-receta {
	font-size:24px;
}
.content-paso {
	opacity:0;
	width:100%;
	height:100%;
	padding:20px;
}
.content-paso:hover {
	opacity:1;
	width:100%;
	height:100%;
	color:#fff;
	background-color:rgba(0,0,0,0.8);
}
.box-receta {
	height:300px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
}
.lista-ingredientes p {
	border-bottom:2px solid #C7C6C6;
	padding-bottom:5px;
	}
.new {
	   background-color: #be1622;
    color: #fff;
    font-size: 85%;
    font-weight: 700;
    left: 15px;
    padding: 5px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}*/